<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RegistryUrl>registry.cn-shanghai.aliyuncs.com/xazdyl</RegistryUrl>
    <UserName>xazdyl</UserName>
    <PublishImageTag>DS-2412021</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkConsoleCustomContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>